<li>
{% if site.feedback_text %}
  {% assign feedback_text = site.feedback_text %}
{% else %}
  {% assign feedback_text = "Feedback" %}
{% endif %}

{% if site.feedback_link %}
  <a class="email" title="Submit feedback" href="{{site.feedback_link}}">{{feedback_text}}</a>
{% else %}
  <!--  <a class="email" title="Submit feedback" href="#" onclick="javascript:window.location='mailto:{{site.feedback_email}}?subject={{site.feedback_subject_line}} feedback&body=I have some feedback about the {{page.title}} page: ' + window.location.href;"><i class="fa fa-envelope-o"></i> {{feedback_text}}</a> -->
  <a class="email" title="Submit feedback" href="#" onclick="javascript:window.location='mailto:{{site.feedback_email}}?subject=Feedback for: {{page.title}}&body=Thank you for participating in the Samsung Health Stack open source project! This beta version is provided as is, to give early adopters access to the pilot project, prior to the official release. As such, we welcome your feedback and questions, but our responses may be limited. Thanks in advance for your feedback about the {{page.title}} page: ' + window.location.href;"><i class="fa fa-envelope-o"></i> {{feedback_text}}</a>
{% endif %}
</li>

{% comment %} Copyright 2021 Google LLC {% endcomment %}
